html,body{
	background-color: #fff;
	font-family:'Source Sans Pro', sans-serif;
	overflow-x: hidden !important;
	margin: 0px !important;
	padding: 0px !important; 
	display: grid;
	justify-content: center;
	align-items: center;
}

*{
	text-decoration: none !important
}  

.nav{
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	left: 0;
	height: 80px;
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    background-color: #fff;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.logo{
	width: 10vw;
}
.nav .links a{
	margin-right: 25px;
	font-size: 16px;
	font-weight: 600;
	color: #407BFF;
}

.nav .links a:hover{
	color:#000;
}

.nav .links .mainlink{
	color: #407BFF;
}

.nav .links i{
	margin-right: 8px;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}

.main-header {
  height: 55vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-header h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.main-header p {
  font-size: 1.5rem;
}

.card img {
  width: 250px;
 background-color:#B9DEF2;
}

.card {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #F8F8FF;
  margin-bottom: 2rem;
}

.card h1 {
  margin-bottom: 1rem;
  color: #407BFF;
}

.card p{
  text-align: justify;
  opacity: 0.9;
  line-height: 28px;
}
.card > div {
  padding: 2rem;
}

.card:nth-child(even) img {
  order: 2;
}



@media(max-width:600px) {
  .card {
    display: block;
  }
 .card img {
  width: 410px;
}

}
